/** @format */

/* Start: General */
:root {
	--square-size: 2rem;
	--fs: 1rem;
	--border-radius: 0.5rem;
	--padding-sm: 0.4rem;
	--margin-sm: 0.4rem;

	/* --dark: #231f20; */
	--dark: #232324;
	--dark-light: #3a3a3a;
	--light: #f5f6f6;
	--light-dark: #e5e6e6;
	--light-darker: #ccc;
	--primary: #286c89;
	--primary-dark: #364954;
	--secondary: #99aebb;
	--ship: #629fbe;
	--warning: #e28600;
	--danger: #dc4d4c;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

.row {
	display: flex;
	flex-wrap: wrap;
}

.col {
	display: flex;
	flex-direction: column;
	/* flex-basis: 0; */
	/* flex: 1 1 auto; */
}

.container {
	width: 100%;
	max-width: 100%;
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
}

.no-click {
	pointer-events: none;
}

.d-none {
	display: none;
}

body {
	color: var(--dark);
	background-color: var(--light-dark);
}

/* End: General */

/* Navbar */
nav {
	--fs: 1.1rem;
	font-size: var(--fs);
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding: 1em 3rem;

	background-color: var(--primary);
	color: var(--light);
}

nav h1 {
	font-size: 1.3em;
	font-weight: bold;
}

nav span {
	padding: var(--padding-sm) 0.6em;
	border: 2px solid var(--light-dark);
	border-radius: var(--border-radius);
	cursor: pointer;
	transition: color 250ms ease-out, background-color 250ms ease-out;
}

nav span:hover {
	color: var(--dark);
	background-color: var(--light);
}

nav span * {
	pointer-events: none;
}

nav span i {
	margin-right: var(--margin-sm);
}

.fa-github {
	margin: 0;
}

/* Main container */
.container {
	padding: 2rem 3rem;
}

/* Start: Info container */
.info-container {
	background-color: var(--light);
	border: 2px solid var(--dark);
	border-radius: var(--border-radius);
	height: max-content;
	padding: 1em;

	align-items: center;
}

.info-container .directive {
	font-size: 1.2em;
	display: flex;
	width: max-content;
	padding-bottom: var(--padding-sm);
	justify-content: center;
	margin-bottom: 1em;

	color: var(--dark);
	border-bottom: 1px solid var(--dark);
}

.info-container .directive i {
	margin-right: 0.5em;
	color: var(--warning);
}

.info-container .fa-ul {
	margin-left: 0;
}

.info-container li {
	margin-bottom: 0.2em;
}

.info-container .fa-li {
	position: relative;
	left: 0;
	margin-right: var(--margin-sm);
	color: var(--primary);
}
/* End: Info container */

/* Start: Board */

.container .row {
	gap: var(--square-size);
	justify-content: space-between;
}

.board-info {
	padding: var(--padding-sm) 0;
	margin-bottom: var(--margin-sm);
}

.board-info h2 {
	font-size: 1.2em;
	font-weight: bold;
	color: var(--primary);
}

.board-info input {
	-webkit-appearance: none;
	-moz-appearance: none;
	-ms-appearance: none;
	-o-appearance: none;
	appearance: none;
}

.board-info label {
	cursor: pointer;
	padding: var(--padding-sm);
	background-color: var(--light);
	border: 2px solid var(--dark);
	border-radius: var(--border-radius);
	transition: background-color 250ms ease-out;
}

.board-info input:hover + label {
	background-color: var(--light-darker);
	color: var(--dark);
}

.board-info input:checked + label {
	background-color: var(--dark);
	color: white;
}

#computer-board {
	opacity: 1;
	transition: opacity 300ms ease-out;
}

#computer-board.unavailable {
	opacity: 0.3 !important;
	pointer-events: none;
}

.board {
	display: grid;
	grid-template-columns: repeat(10, var(--square-size));
	border: 1px solid var(--dark);
}

.square {
	width: var(--square-size);
	height: var(--square-size);
	border: 1px solid var(--dark);
	background-color: var(--light);
	transition: width 350ms cubic-bezier(0.83, 0, 0.17, 1), height 400ms cubic-bezier(0.87, 0, 0.13, 1),
		background-color 250ms ease-out;
}

#computer-board .square {
	cursor: pointer;
}

.square.ship {
	background-color: var(--ship);
	/* pointer-events: none; */
}

.square.hit {
	background-color: var(--danger);
	pointer-events: none;
}

.square.miss {
	background-color: var(--dark-light);
	pointer-events: none;
}

.square.highlight {
	background-color: var(--secondary);
	cursor: pointer;
}

.square.invalid {
	background-color: var(--danger);
	cursor: not-allowed;
}
/* End: Board */

/* Media queries */
@media screen and (max-width: 768px) {
	nav {
		padding: 1em 1.5rem;
	}

	.container {
		padding: 3rem;
	}

	.info-container {
		order: 1;
		width: 100%;
	}

	.player-board {
		order: 2;
	}

	.computer-board {
		order: 3;
	}

	#player-board,
	#computer-board.unavailable {
		--square-size: 1.9rem;
	}
}

@media screen and (max-width: 700px) {
	.row.main {
		justify-content: center;
	}

	#player-board,
	#computer-board.unavailable {
		--square-size: 1.8rem;
	}
}

@media screen and (max-width: 576px) {
	.container {
		padding: 1.5rem;
	}

	#player-board,
	#computer-board.unavailable {
		--square-size: 1.6rem;
	}
}

/* Rule for laptop, desktop devices etc. only */
@media only screen and (hover: hover) {
	/* This rule is disabled on mobile,
	because tapping a square would apply hover color
	instead of "miss" or "hit" colors.
	They would be visible only after the user taps another square. */
	#computer-board .square:hover {
		background-color: var(--light-darker);
	}
}

/* Rule for mobile devices only */
@media only screen and (hover: none) and (pointer: coarse) {
	/* Mobile based styles */
}
